{% extends "./base.html" %}
{% load static %}
{% block content %}


<div class="responsivegrid article-grid aem-GridColumn aem-GridColumn--default--12" id="bodyContent" role="main"
    tabindex="-1" bis_skin_checked="1">


    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 " bis_skin_checked="1">

        <div data-compv="Global" data-compn="Breadcrumbs"
            class="breadCrumb breadcrumb aem-GridColumn aem-GridColumn--default--12" data-libv="latest" data-libn="AEM"
            bis_skin_checked="1">


            <section class="section-container shield-breadcrumb background-secondary pv-16">
                <div class="component-offset-12" bis_skin_checked="1">
                    <div class="c-4-sm c-8-md c-12-lg  flex-align-center" bis_skin_checked="1">




                        <nav aria-label="Breadcrumb">

                            <ul id="myList"
                                class="breadcrumbs m-breadcrumb-links flex-row-start is-hidden-sm breadcrumbContainer mv-8">


                                <li class="current">
                                    <span id="/">
                                        <a title="/" class="link subtle"><span class="label">Home</span></a>
                                    </span>

                                    <span class="label divider hide-sm ph-8" aria-hidden="true">/</span>

                                </li>


                                <li class="current">
                                    <span>
                                        <span aria-current="page" class="label is-current-link ">About us</span>
                                    </span>

                                </li>







                            </ul>
                        </nav>






                        <nav aria-label="Breadcrumb" class="m-breadcrumb-links-mobile is-hidden-lg is-hidden-md">



                            <div class="icon before chevron grey" bis_skin_checked="1">
                                <span id="/content/usbank/us/en/index.html">
                                    <a title="/index.html" class="link subtle"><span class="label">Home</span></a>
                                </span>

                                <span class="label divider hide-sm ph-8" aria-hidden="true">/</span>

                            </div>

                            <div class="hide" bis_skin_checked="1">
                                <span>
                                    <span aria-current="page" class="label is-current-link ">About us</span>
                                </span>

                            </div>




                        </nav>
                        <!-- Remove below 3 line after May 2023 -->


                        <div class="flex-row-end m-zip-code-display" bis_skin_checked="1">



                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div data-compv="Global" data-compn="Banner" class="banner parbase aem-GridColumn aem-GridColumn--default--12"
            data-libv="latest" data-libn="AEM" bis_skin_checked="1">







            <section
                class="shield-banner medium-image-banner section-container l2Banner nobgColorMobile background-secondary">
                <div class="component-offset-12" bis_skin_checked="1">



                    <div class="c-5-lg c-8-md c-4-sm pv-32 content-container  reverse-order-md reverse-order-sm"
                        bis_skin_checked="1">



                        <div class="body selectorText" bis_skin_checked="1">
                            <h1 class="superhead">About us</h1>
                            <h2 class="display medium">Look ahead with us</h2>
                            <p>Learn how we’re focused on being flexible, resilient and responsible.</p>
                        </div>


                        <div class="button-group" bis_skin_checked="1">

                            <a title=" " target="_self"
                                data-analytics-click="banner:read our annual report" class="button primary medium"
                                role="button">
                                Read our annual report
                            </a>


                        </div>

                    </div>

                    <div class="c-7-lg c-8-md c-4-sm  reverse-order-md reverse-order-sm  nobgColorMobile background-secondary     "
                        bis_skin_checked="1">








                        <picture class="img  ">
                         <img aria-hidden="true"
                                alt="Two men in hard hats walking through an aisle of freight containers, holding a document"
                                src="{% static 'main/image.png' %}"
                                class="image-hanger hide-sm backgrounded  of-cover op-cc responsive ar-16x9-sm ar-1x1-md ar-16x9-lg"
                                decoding="async" loading="eager" data-position-mobile="center center"
                                data-position-tablet="center center" data-position-desktop="center center">



                        </picture>

                        <picture class="img  ">

                            <img aria-hidden="true" alt=""
                                src="https://www.usbank.com/content/dam/usbank/en/images/photos/about-us-bank/photo-corporate-banking-freight-16x9.jpg/jcr:content/renditions/cq5dam.webp.1200.675.webp"
                                class="image-hanger hide-lg hide-md backgrounded  of-cover op-cc responsive ar-16x9-lg ar-16x9-sm ar-16x9-md"
                                decoding="async" loading="eager" data-position-mobile="center center"
                                data-position-tablet="center center" data-position-desktop="center center">


                        </picture>



                    </div>


                </div>
            </section>

















        </div>
        <div data-compv="Global" data-compn="Product Category Cards"
            class="productCategoryCards aem-GridColumn aem-GridColumn--default--12" data-libv="latest" data-libn="AEM"
            bis_skin_checked="1">



            <section class="product-category-cards section-container pv-48  ">
                <div class="component-offset-12" bis_skin_checked="1">





                    <ul class="row g-32 m-0 p-0 card-count-6">













                        <li class="c-2-sm c-2-md c-2-lg">

                            <a class="m-card card flex-align-v-center flex-col-start flex-nowrap p-24 text-center icon-background-active"
                                title="/" target="_self"
                                data-analytics-click="product category cards:news and stories">

                                <div class="icon large flex-align-v-center h-80 w-80 p-20" aria-hidden="true"
                                    bis_skin_checked="1">
                                    <svg class="svgImageIcon" width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M5 1.25H35C35.6904 1.25 36.25 1.80964 36.25 2.5V28.675C36.2486 29.0091 36.1136 29.3287 35.875 29.5625L26.975 38.3875C26.7422 38.6184 26.4279 38.7486 26.1 38.75H5C4.30964 38.75 3.75 38.1904 3.75 37.5V2.5C3.75 1.80964 4.30964 1.25 5 1.25ZM33.75 3.75H6.25V36.25H24.8625L25 28.75C25 28.0596 25.5596 27.5 26.25 27.5H33.75V3.75ZM31.9375 30L27.4 34.5L27.5 30H31.9375ZM10 10H23.75V7.5H10V10ZM23.75 20V22.5H10V20H23.75ZM10 16.25H30V13.75H10V16.25Z"
                                            fill="#555555"></path>
                                    </svg>

                                </div>


                                <div class="heading small ta-c" bis_skin_checked="1">
                                    News and stories
                                </div>
                            </a>
                        </li>















                        <li class="c-2-sm c-2-md c-2-lg">

                            <a class="m-card card flex-align-v-center flex-col-start flex-nowrap p-24 text-center icon-background-active"
                                 target="_self"
                                data-analytics-click="product category cards:press resources">

                                <div class="icon large flex-align-v-center h-80 w-80 p-20" aria-hidden="true"
                                    bis_skin_checked="1">
                                    <svg class="svgImageIcon" xmlns="http://www.w3.org/2000/svg" data-name="Outlined"
                                        viewBox="0 0 32 32">
                                        <path
                                            d="M28 8h-4.43l-2.71-4.51A1 1 0 0 0 20 3h-8a1 1 0 0 0-.86.49L8.43 8H4a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h24a3 3 0 0 0 3-3V11a3 3 0 0 0-3-3zm1 18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V11a1 1 0 0 1 1-1h5a1 1 0 0 0 .86-.49L12.57 5h6.86l2.71 4.51A1 1 0 0 0 23 10h5a1 1 0 0 1 1 1zM16 12a6 6 0 1 0 6 6 6 6 0 0 0-6-6zm0 10a4 4 0 1 1 4-4 4 4 0 0 1-4 4z">
                                        </path>
                                    </svg>
                                </div>


                                <div class="heading small ta-c" bis_skin_checked="1">
                                    Press resources
                                </div>
                            </a>
                        </li>















                        <li class="c-2-sm c-2-md c-2-lg">

                            <a class="m-card card flex-align-v-center flex-col-start flex-nowrap p-24 text-center icon-background-active"
                                title="https://ir.usbank.com/" target="_self"
                                data-analytics-click="product category cards:investor relations">

                                <div class="icon large flex-align-v-center h-80 w-80 p-20" aria-hidden="true"
                                    bis_skin_checked="1">
                                    <svg class="svgImageIcon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1.5 2.25H22.5C22.9142 2.25 23.25 2.58579 23.25 3V21C23.25 21.4142 22.9142 21.75 22.5 21.75H1.5C1.08579 21.75 0.75 21.4142 0.75 21V3C0.75 2.58579 1.08579 2.25 1.5 2.25ZM2.94 20.25H21.75V3.75H2.25V18.615L6.0975 13.1025C6.28836 12.8339 6.63221 12.7213 6.945 12.825L11.0475 14.145L16.9425 8.25H14.7525V6.75H18.75C19.1642 6.75 19.5 7.08579 19.5 7.5V11.4975H18V9.3075L11.7675 15.57C11.5699 15.7638 11.2816 15.833 11.0175 15.75L7.0125 14.4225L2.94 20.25Z"
                                            fill="#235AE4"></path>
                                    </svg>

                                </div>


                                <div class="heading small ta-c" bis_skin_checked="1">
                                    Investor relations
                                </div>
                            </a>
                        </li>















                        <li class="c-2-sm c-2-md c-2-lg">

                            <a class="m-card card flex-align-v-center flex-col-start flex-nowrap p-24 text-center icon-background-active"
                                title="https://careers.usbank.com/" target="_self"
                                data-analytics-click="product category cards:careers">

                                <div class="icon large flex-align-v-center h-80 w-80 p-20" aria-hidden="true"
                                    bis_skin_checked="1">
                                    <svg class="svgImageIcon" xmlns="http://www.w3.org/2000/svg" data-name="Outlined"
                                        viewBox="0 0 32 32">
                                        <path
                                            d="M29 6h-5V5a3 3 0 0 0-3-3H11a3 3 0 0 0-3 3v1H3a1 1 0 0 0-1 1v22a1 1 0 0 0 1 1h26a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1zM15 17v2A12 12 0 0 1 4.05 8H28a12 12 0 0 1-11 11v-2zM10 5a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v1H10zm18 23H4V14.17A14 14 0 0 0 15 21v2h2v-2a14 14 0 0 0 11-6.78z">
                                        </path>
                                    </svg>
                                </div>


                                <div class="heading small ta-c" bis_skin_checked="1">
                                    Careers
                                </div>
                            </a>
                        </li>















                        <li class="c-2-sm c-2-md c-2-lg">

                            <a class="m-card card flex-align-v-center flex-col-start flex-nowrap p-24 text-center icon-background-active"
                                title="/about-us-bank/inclusion.html" target="_self"
                                data-analytics-click="product category cards:financial inclusion">

                                <div class="icon large flex-align-v-center h-80 w-80 p-20" aria-hidden="true"
                                    bis_skin_checked="1">
                                    <svg class="svgImageIcon" xmlns="http://www.w3.org/2000/svg" data-name="Outlined"
                                        viewBox="0 0 32 32">
                                        <path
                                            d="M11.5 15.5A4.5 4.5 0 1 0 16 11a4.51 4.51 0 0 0-4.5 4.5zM16 13a2.5 2.5 0 1 1-2.5 2.5A2.5 2.5 0 0 1 16 13zm7-2a4.5 4.5 0 1 0-4.5-4.5A4.51 4.51 0 0 0 23 11zm0-7a2.5 2.5 0 1 1-2.5 2.5A2.5 2.5 0 0 1 23 4zM9 11a4.5 4.5 0 1 0-4.5-4.5A4.51 4.51 0 0 0 9 11zm0-7a2.5 2.5 0 1 1-2.5 2.5A2.5 2.5 0 0 1 9 4zm14 25h-2a5 5 0 0 0-10 0H9a7 7 0 0 1 14 0zM9 15a5 5 0 0 0-5 5H2a7 7 0 0 1 7-7zm21 5h-2a5 5 0 0 0-5-5v-2a7 7 0 0 1 7 7z">
                                        </path>
                                    </svg>
                                </div>


                                <div class="heading small ta-c" bis_skin_checked="1">
                                    Financial inclusion
                                </div>
                            </a>
                        </li>















                        <li class="c-2-sm c-2-md c-2-lg">

                            <a class="m-card card flex-align-v-center flex-col-start flex-nowrap p-24 text-center icon-background-active"
                                title="https://www.usbank.com/about-us-bank/community.html" target="_self"
                                data-analytics-click="product category cards:community">

                                <div class="icon large flex-align-v-center h-80 w-80 p-20" aria-hidden="true"
                                    bis_skin_checked="1">
                                    <svg class="svgImageIcon" xmlns="http://www.w3.org/2000/svg" data-name="Outlined"
                                        viewBox="0 0 32 32">
                                        <path
                                            d="M30 11.75V8a1 1 0 0 0-.28-.71l-5-5A1 1 0 0 0 24 2H8a1 1 0 0 0-.71.29l-5 5A1 1 0 0 0 2 8v3.75a4.24 4.24 0 0 0 3 4V28H3v2h26v-2h-2V15.79a4.24 4.24 0 0 0 3-4.04zM8.41 4h15.18l3 3H5.41zM4 11.75V9h24v2.75a2.25 2.25 0 0 1-4.5 0h-2a2.25 2.25 0 0 1-4.5 0h-2a2.25 2.25 0 0 1-4.5 0h-2a2.25 2.25 0 0 1-4.5 0zm7 3.86a4.11 4.11 0 0 0 1.75.39A4.24 4.24 0 0 0 16 14.46 4.24 4.24 0 0 0 19.25 16a4.11 4.11 0 0 0 1.75-.39V23H11zM7 28V15.92a4.07 4.07 0 0 0 2-1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V15a4.07 4.07 0 0 0 2 1v12z">
                                        </path>
                                    </svg>
                                </div>


                                <div class="heading small ta-c" bis_skin_checked="1">
                                    Community
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>
            </section>
        </div>
        <div data-compv="Global" data-compn="Icon List" class="iconList aem-GridColumn aem-GridColumn--default--12"
            data-libv="latest" data-libn="AEM" bis_skin_checked="1">

            <section class="section-container shield-iconlist background-grey-10 pv-base  ">
                <div class="component-offset-12" bis_skin_checked="1">



                    <div class="row pb-32" bis_skin_checked="1">
                        <div class="m-section-header c-4-sm c-8-md c-8-lg" bis_skin_checked="1">
                            <h2><span class="display small"><span class="text-color-usbankblue">Company
                                        overview</span></span></h2>
















































                        </div>
                    </div>







                    <div class="row gv-48-sm gv-48-md gv-64-lg" bis_skin_checked="1">


                        <div class="m-limited-rte two-column odd c-4-sm c-4-md c-6-lg flex-row-start flex-nowrap gh-20"
                            bis_skin_checked="1">
                            <div class="icon iconsize-medium icon-usbankblue" bis_skin_checked="1">

                                <div aria-hidden="true" bis_skin_checked="1">
                                    <!--?xml version="1.0" encoding="UTF-8"?--><svg class="svgImageIcon" id="a"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.79 71.91">
                                        <defs>
                                            <style>
                                                .b {
                                                    fill: #0c2074;
                                                    fill-rule: evenodd;
                                                    stroke-width: 0px;
                                                }
                                            </style>
                                        </defs>
                                        <path class="b"
                                            d="M32.95.13c-2.1.23-5.34.86-7.32,1.42-4.38,1.25-10.13,4.49-13.8,7.76l-1.32,1.18.71.74.71.74,1.09-1.05C20.3,3.9,31.85.58,42.19,2.52c5.61,1.05,11.4,3.83,15.84,7.61,5.97,5.07,9.73,11.62,11.4,19.87.61,3.03.67,8.36.12,11.48-1.33,7.54-5.47,15.14-10.73,19.72-10.95,9.54-25.34,11.46-38.23,5.11-3.33-1.64-6.11-3.72-9.01-6.75-5.63-5.88-8.85-12.88-9.49-20.65l-.16-1.98h44.11l-7.68,7.68-7.68,7.68.72.72.72.72,8.88-8.88,8.88-8.88-8.88-8.88-8.88-8.88-.72.72-.72.72,7.68,7.68,7.68,7.68H0l.13,2.94c.72,15.86,12.25,29.59,27.78,33.06,8.14,1.82,16.26.91,23.64-2.64,7.12-3.42,13-9.24,16.59-16.38,2.83-5.63,3.85-10.59,3.61-17.52-.14-4.24-.48-6.16-1.73-9.93-3.91-11.78-13.79-20.72-26.08-23.59-3.45-.81-7.94-1.13-11-.81">
                                        </path>
                                    </svg>
                                </div>


                            </div>
                            <div class="content" bis_skin_checked="1">
                                <div class="content-group pb-12" bis_skin_checked="1">
                                    <p><span class="heading small"><span class="text-color-grey-90 ">No. 105 on the
                                                Fortune 500</span></span></p>

                                    <div class="body" bis_skin_checked="1">
                                        <p><span class="body medium"><span class="text-color-grey-80">Get the latest
                                                    numbers on our size, locations and more.</span></span></p>


















































                                    </div>
                                </div>
                                <div class="link-list flex-column" bis_skin_checked="1">

                                    <a class="arrow-link" title="https://www.usbank.com/about-us-bank/fact-sheet.html"
                                        target="_self" data-analytics-click="icon list:visit fact sheet">
                                        <span class="icon chevron blue after">Visit fact sheet</span>
                                    </a>


                                </div>
                            </div>
                        </div>


                        <div class="m-limited-rte two-column even c-4-sm c-4-md c-6-lg flex-row-start flex-nowrap gh-20"
                            bis_skin_checked="1">
                            <div class="icon iconsize-medium icon-usbankblue" bis_skin_checked="1">

                                <div aria-hidden="true" bis_skin_checked="1">
                                    <!--?xml version="1.0" encoding="UTF-8"?--><svg class="svgImageIcon" id="a"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.79 71.91">
                                        <defs>
                                            <style>
                                                .b {
                                                    fill: #0c2074;
                                                    fill-rule: evenodd;
                                                    stroke-width: 0px;
                                                }
                                            </style>
                                        </defs>
                                        <path class="b"
                                            d="M32.95.13c-2.1.23-5.34.86-7.32,1.42-4.38,1.25-10.13,4.49-13.8,7.76l-1.32,1.18.71.74.71.74,1.09-1.05C20.3,3.9,31.85.58,42.19,2.52c5.61,1.05,11.4,3.83,15.84,7.61,5.97,5.07,9.73,11.62,11.4,19.87.61,3.03.67,8.36.12,11.48-1.33,7.54-5.47,15.14-10.73,19.72-10.95,9.54-25.34,11.46-38.23,5.11-3.33-1.64-6.11-3.72-9.01-6.75-5.63-5.88-8.85-12.88-9.49-20.65l-.16-1.98h44.11l-7.68,7.68-7.68,7.68.72.72.72.72,8.88-8.88,8.88-8.88-8.88-8.88-8.88-8.88-.72.72-.72.72,7.68,7.68,7.68,7.68H0l.13,2.94c.72,15.86,12.25,29.59,27.78,33.06,8.14,1.82,16.26.91,23.64-2.64,7.12-3.42,13-9.24,16.59-16.38,2.83-5.63,3.85-10.59,3.61-17.52-.14-4.24-.48-6.16-1.73-9.93-3.91-11.78-13.79-20.72-26.08-23.59-3.45-.81-7.94-1.13-11-.81">
                                        </path>
                                    </svg>
                                </div>


                            </div>
                            <div class="content" bis_skin_checked="1">
                                <div class="content-group pb-12" bis_skin_checked="1">
                                    <p><span class="heading small"><span class="text-color-grey-90 ">Founded under
                                                national bank charter No. 24 in 1863</span></span></p>

















                                    <div class="body" bis_skin_checked="1">
                                        <p><span class="body medium"><span class="text-color-grey-80">Explore what’s led
                                                    to our position of strength.</span></span></p>






















































                                    </div>
                                </div>
                                <div class="link-list flex-column" bis_skin_checked="1">

                                    <a class="arrow-link" title="https://www.usbank.com/about-us-bank/history.html"
                                        target="_self" data-analytics-click="icon list:visit history">
                                        <span class="icon chevron blue after">Visit history</span>
                                    </a>


                                </div>
                            </div>
                        </div>


                        <div class="m-limited-rte two-column odd c-4-sm c-4-md c-6-lg flex-row-start flex-nowrap gh-20"
                            bis_skin_checked="1">
                            <div class="icon iconsize-medium icon-usbankblue" bis_skin_checked="1">

                                <div aria-hidden="true" bis_skin_checked="1">
                                    <!--?xml version="1.0" encoding="UTF-8"?--><svg class="svgImageIcon" id="a"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.79 71.91">
                                        <defs>
                                            <style>
                                                .b {
                                                    fill: #0c2074;
                                                    fill-rule: evenodd;
                                                    stroke-width: 0px;
                                                }
                                            </style>
                                        </defs>
                                        <path class="b"
                                            d="M32.95.13c-2.1.23-5.34.86-7.32,1.42-4.38,1.25-10.13,4.49-13.8,7.76l-1.32,1.18.71.74.71.74,1.09-1.05C20.3,3.9,31.85.58,42.19,2.52c5.61,1.05,11.4,3.83,15.84,7.61,5.97,5.07,9.73,11.62,11.4,19.87.61,3.03.67,8.36.12,11.48-1.33,7.54-5.47,15.14-10.73,19.72-10.95,9.54-25.34,11.46-38.23,5.11-3.33-1.64-6.11-3.72-9.01-6.75-5.63-5.88-8.85-12.88-9.49-20.65l-.16-1.98h44.11l-7.68,7.68-7.68,7.68.72.72.72.72,8.88-8.88,8.88-8.88-8.88-8.88-8.88-8.88-.72.72-.72.72,7.68,7.68,7.68,7.68H0l.13,2.94c.72,15.86,12.25,29.59,27.78,33.06,8.14,1.82,16.26.91,23.64-2.64,7.12-3.42,13-9.24,16.59-16.38,2.83-5.63,3.85-10.59,3.61-17.52-.14-4.24-.48-6.16-1.73-9.93-3.91-11.78-13.79-20.72-26.08-23.59-3.45-.81-7.94-1.13-11-.81">
                                        </path>
                                    </svg>
                                </div>


                            </div>
                            <div class="content" bis_skin_checked="1">
                                <div class="content-group pb-12" bis_skin_checked="1">
                                    <p><span class="heading small"><span class="text-color-grey-90 ">Driving inclusive
                                                and sustainable growth</span></span></p>

                                    <div class="body" bis_skin_checked="1">
                                        <p><span class="body medium"><span class="text-color-grey-80">Discover how we
                                                    make a positive impact in communities we serve.</span></span></p>
                                    </div>
                                </div>
                                <div class="link-list flex-column" bis_skin_checked="1">

                                    <a class="arrow-link"
                                        title="https://www.usbank.com/about-us-bank/sustainability.html" target="_self"
                                        data-analytics-click="icon list:visit sustainability">
                                        <span class="icon chevron blue after">Visit sustainability</span>
                                    </a>


                                </div>
                            </div>
                        </div>


                        <div class="m-limited-rte two-column even c-4-sm c-4-md c-6-lg flex-row-start flex-nowrap gh-20"
                            bis_skin_checked="1">
                            <div class="icon iconsize-medium icon-usbankblue" bis_skin_checked="1">

                                <div aria-hidden="true" bis_skin_checked="1">
                                    <!--?xml version="1.0" encoding="UTF-8"?--><svg class="svgImageIcon" id="a"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.79 71.91">
                                        <defs>
                                            <style>
                                                .b {
                                                    fill: #0c2074;
                                                    fill-rule: evenodd;
                                                    stroke-width: 0px;
                                                }
                                            </style>
                                        </defs>
                                        <path class="b"
                                            d="M32.95.13c-2.1.23-5.34.86-7.32,1.42-4.38,1.25-10.13,4.49-13.8,7.76l-1.32,1.18.71.74.71.74,1.09-1.05C20.3,3.9,31.85.58,42.19,2.52c5.61,1.05,11.4,3.83,15.84,7.61,5.97,5.07,9.73,11.62,11.4,19.87.61,3.03.67,8.36.12,11.48-1.33,7.54-5.47,15.14-10.73,19.72-10.95,9.54-25.34,11.46-38.23,5.11-3.33-1.64-6.11-3.72-9.01-6.75-5.63-5.88-8.85-12.88-9.49-20.65l-.16-1.98h44.11l-7.68,7.68-7.68,7.68.72.72.72.72,8.88-8.88,8.88-8.88-8.88-8.88-8.88-8.88-.72.72-.72.72,7.68,7.68,7.68,7.68H0l.13,2.94c.72,15.86,12.25,29.59,27.78,33.06,8.14,1.82,16.26.91,23.64-2.64,7.12-3.42,13-9.24,16.59-16.38,2.83-5.63,3.85-10.59,3.61-17.52-.14-4.24-.48-6.16-1.73-9.93-3.91-11.78-13.79-20.72-26.08-23.59-3.45-.81-7.94-1.13-11-.81">
                                        </path>
                                    </svg>
                                </div>


                            </div>
                            <div class="content" bis_skin_checked="1">
                                <div class="content-group pb-12" bis_skin_checked="1">
                                    <p><span class="heading small"><span class="text-color-grey-90 ">Publicly held
                                                company traded as USB on the NYSE</span></span></p>

















                                    <div class="body" bis_skin_checked="1">
                                        <p><span class="body medium"><span class="text-color-grey-80">Meet the leaders
                                                    who manage and govern our company.</span></span></p>




















































                                    </div>
                                </div>
                                <div class="link-list flex-column" bis_skin_checked="1">

                                    <a class="arrow-link"
                                        title="https://ir.usbank.com/governance/managing-committee/default.aspx"
                                        target="_self" data-analytics-click="icon list:visit leadership">
                                        <span class="icon chevron blue after">Visit leadership</span>
                                    </a>


                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </section>



        </div>
        <div data-compv="Global" data-compn="Full Span Content Block"
            class="fullSpanContentBlock aem-GridColumn aem-GridColumn--default--12" data-libv="latest" data-libn="AEM"
            bis_skin_checked="1">




            <section
                class="full-span-content-block section-container fsb-block pv-64 pv-80-lg background-white nocolor pb-0-sm pb-0-md pb-0-lg ">
                <div class="component-offset-12" bis_skin_checked="1">





                    <div class="sub-grid c-4-sm c-8-md c-12-lg gv-32" bis_skin_checked="1">









                        <div class="fsb-content-container c-4-sm c-8-md c-8-lg left" bis_skin_checked="1">




                            <div class="heading" bis_skin_checked="1">
                                <h2><span class="display small"><span class="text-color-usbankblue">Past, present and
                                            future</span></span></h2>
                            </div>
                            <div class="body textContainer shieldRateText " bis_skin_checked="1">
                                <p><span class="text-color-grey-80"><span class="body medium">Since the Lincoln
                                            administration signed our national bank charter No. 24 in 1863,&nbsp;we’ve
                                            drawn on our financial strength to serve customers. Today, we’re in an era
                                            where technology is reshaping every aspect of the financial industry and
                                            changing the expectations of our customers and clients. To stay a step
                                            ahead, we must anticipate what’s ahead. We’re focused on harnessing the
                                            power of these advancements to help us operate with more efficiency, enhance
                                            the experience our clients have and ensure we’re continually ready for
                                            what’s next. At the heart of investing for the future is our investment in
                                            our people. Powering their potential powers our
                                            potential.&nbsp;</span></span></p>
                                <p>&nbsp;</p>
                            </div>

                            <div class="m-button-group button-group mt-32 mb-32 no-wrap left secondary"
                                bis_skin_checked="1">





                                <a title="https://www.usbank.com/about-us-bank/history.html" target="_self"
                                    data-analytics-click="full span content block:company history:visit our history page"
                                    aria-label="Visit our history page" class="button  secondary medium" role="button">
                                    Company history
                                </a>




                                <a title="https://www.usbank.com/about-us-bank/alumni.html" target="_self"
                                    data-analytics-click="full span content block:alumni support:visit our alumni page"
                                    aria-label="Visit our alumni page" class="button secondary medium" role="button">
                                    Alumni support
                                </a>





                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div data-compv="Global" data-compn="Full Span Content Block"
            class="fullSpanContentBlock aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--8 aem-GridColumn--offset--default--0"
            data-libv="latest" data-libn="AEM" bis_skin_checked="1">




            <section
                class="full-span-content-block section-container fsb-block pv-64 pv-80-lg nocolor nocolor pb-0-sm pb-0-md pb-0-lg "
                data-blockcount="1-one">
                <div class="component-offset-12" bis_skin_checked="1">





                    <div class="sub-grid c-4-sm c-8-md c-12-lg gv-32" bis_skin_checked="1">









                        <div class="fsb-content-container c-4-sm c-8-md c-8-lg left" bis_skin_checked="1">




                            <div class="heading" bis_skin_checked="1">
                                <h2><span class="display small"><span class="text-color-usbankblue">Leadership and
                                            governance</span></span></h2>


































                            </div>
                            <div class="body textContainer shieldRateText " bis_skin_checked="1">
                                <p><span class="text-color-grey-80"><span class="body medium">Led by CEO Gunjan Kedia,
                                            our company is guided by a Managing Committee. This group includes the
                                            leaders of our core business lines – Consumer and Business Banking; Payment
                                            Services; and Wealth, Corporate, Commercial and Institutional Banking – as
                                            well as the heads of functional areas including risk management; digital;
                                            finance; legal; strategy; and more.</span></span></p>
                                <p><span class="text-color-grey-80"><span class="body medium">As a publicly traded
                                            company, we’re also governed by a Board of Directors, which is chaired by
                                            Andy Cecere, who served as U.S. Bank CEO from 2017-2025. This group brings
                                            decades of expertise from a variety of industries ranging from healthcare
                                            and logistics to retail and tech.</span></span></p>
                            </div>

                            <div class="m-button-group button-group mt-32 mb-32 no-wrap left secondary"
                                bis_skin_checked="1">





                                <a title="https://ir.usbank.com/governance/managing-committee/default.aspx"
                                    target="_self"
                                    data-analytics-click="full span content block:managing committee:visit our managing committee biographies page"
                                    aria-label="Visit our Managing Committee biographies page"
                                    class="button  secondary medium" role="button">
                                    Managing Committee
                                </a>




                                <a title="https://ir.usbank.com/investor-relations/corporate-governance/board-of-directors"
                                    target="_self"
                                    data-analytics-click="full span content block:board of directors:visit our board of directors biographies page"
                                    aria-label="Visit our Board of Directors biographies page"
                                    class="button secondary medium" role="button">
                                    Board of Directors
                                </a>





                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div data-compv="Global" data-compn="Full Span Content Block"
            class="fullSpanContentBlock aem-GridColumn aem-GridColumn--default--12" data-libv="latest" data-libn="AEM"
            bis_skin_checked="1">




            <section
                class="full-span-content-block section-container fsb-block pv-64 pv-80-lg background-white nocolor  "
                data-blockcount="1-one">
                <div class="component-offset-12" bis_skin_checked="1">





                    <div class="sub-grid c-4-sm c-8-md c-12-lg gv-32" bis_skin_checked="1">









                        <div class="fsb-content-container c-4-sm c-8-md c-8-lg left" bis_skin_checked="1">




                            <div class="heading" bis_skin_checked="1">
                                <h2><span class="display small"><span class="text-color-usbankblue">Awards and
                                            recognition</span></span></h2>




































































                            </div>
                            <div class="body textContainer shieldRateText " bis_skin_checked="1">
                                <p><span class="text-color-grey-80">Our company continues to be recognized for our
                                        ethical and inclusive culture, management quality, social responsibility,
                                        digital capabilities and more. Notable recent honors include being named one of
                                        the 2025 World’s Most Ethical Companies® by the Ethisphere® Institute, the 11th
                                        consecutive year we’ve been honored, and numerous awards for our U.S.&nbsp;Bank
                                        Mobile App.</span><br>
                                </p>
                            </div>

                            <div class="m-button-group button-group mt-32 mb-32 no-wrap left secondary"
                                bis_skin_checked="1">





                                <a title="https://www.usbank.com/about-us-bank/accolades.html" target="_self"
                                    data-analytics-click="full span content block:notable accolades:visit our accolades page"
                                    aria-label="Visit our accolades page" class="button  secondary medium"
                                    role="button">
                                    Notable accolades
                                </a>



                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div data-compv="Global" data-compn="Experience Fragment"
            class="experiencefragment aem-GridColumn aem-GridColumn--default--12" data-libv="latest" data-libn="AEM"
            bis_skin_checked="1">
            <div id="experiencefragment-b27e747d24"
                class="cmp-experiencefragment cmp-experiencefragment--article-disclosures" bis_skin_checked="1">
                <!--Override core component html to remove a clientlib call-->
                <div class="xf-content-height" bis_skin_checked="1">



                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 " bis_skin_checked="1">

                        <div data-compv="Global" data-compn="Disclosure"
                            class="disclosure aem-GridColumn aem-GridColumn--default--12" data-libv="latest"
                            data-libn="AEM" bis_skin_checked="1">


                            <section class="section-container pv-32  ">
                                <div class="component-offset-12" bis_skin_checked="1">
                                    <div class="c-8-lg c-8-md c-4-sm" bis_skin_checked="1">

                                        <div class="body" bis_skin_checked="1">

                                            <div class="sr-only disclosure_entry_notice" bis_skin_checked="1"
                                                style="display: block;">
                                                Start of disclosure content

                                            </div>

                                            <h2 class="subheading large">Disclosures</h2>




                                            <div class="unnumberedDisclosure" bis_skin_checked="1">
                                                <div class="body" bis_skin_checked="1">
                                                    <div class="disclosure  not-bordered " data-type="ul_dislosures"
                                                        bis_skin_checked="1">
                                                        <div class="unnumberedItem " data-type="ul_disclosures"
                                                            data-disclosuretype="root/responsivegrid_266788014/disclosureitem_copy_823899560"
                                                            data-businesslines="xx-general"
                                                            data-disclosuretitle="XX-011 Equal Housing Lender"
                                                            bis_skin_checked="1">
                                                            <div class="disclose_message" tabindex="-1"
                                                                bis_skin_checked="1">
                                                                <p class="equal-housing-logo"><img
                                                                        style="margin-bottom: 5.0px;"
                                                                        src="https://www.usbank.com/content/dam/usbank/visual-assets/logos/logo-equal-housing-lender.svg"
                                                                        alt="equal housing lender logo" width="16"
                                                                        height="12" role="presentation"> Equal Housing
                                                                    Lender</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="unnumberedDisclosure" bis_skin_checked="1">
                                                <div class="body" bis_skin_checked="1">
                                                    <div class="disclosure  not-bordered " data-type="ul_dislosures"
                                                        bis_skin_checked="1">
                                                        <div class="unnumberedItem " data-type="ul_disclosures"
                                                            data-disclosuretype="root/responsivegrid_266788014/disclosureitem_1598895158"
                                                            data-businesslines="xx-general"
                                                            data-disclosuretitle="XX-003 FDIC notice + credit products"
                                                            bis_skin_checked="1">
                                                            <div class="disclose_message" tabindex="-1"
                                                                bis_skin_checked="1">
                                                                <p>Loans and lines of credit are offered by
                                                                    U.S.&nbsp;Bank National Association. Deposit
                                                                    products are offered by U.S.&nbsp;Bank National
                                                                    Association. Member FDIC.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                    </div>

                </div>
            </div>


        </div>


    </div>
</div>
{% endblock content %}