{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-60">
    <div class="container">

        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-3 col-md-3">
                {% include './personav2.html' %}
            </div>

            <!-- Skills Column -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="inner-column">
                    <div class="text-title">
                        Where convenience meets access
                    </div>    
                    <div class="text-subtitle">
                        Business Checking
                    </div>    
                    <p class="text-about">
                        From the ease of our Free Business Checking to the extra features of Analyzed Business Checking,
                        Premium Hills Capital gives you the power to manage your money with convenience and flexibility.
                        And for all business accounts, we offer Remote Deposit Capture, which enables your
                        organization to make bank deposits directly from your office location.
                        All you need is a compatible scanner and a high-speed internet connection!
                    </p>
                    
                    <h2 class="text-subtitle">Products</h2>
                    <p class="text-about">Choose the best for your business</p>


                    <h4 class="text-subtitle">
                        Free Business Checking
                    </h4>
                    <p class="text-about">
                        For value and flexibility with no fees, Free Business Checking from Premium Hills Capital combines the most requested business banking features for your convenience. Our Free Business Checking account includes:
                    </p>
                    <ul class="text-items">
                        <li>
                            <b>500 free Monthly Transactions-</b> Includes deposited items, checks paid and deposits. Transactions above 500 per month are only $0.25 each.
                        </li>
                        <li>
                            <b>No monthly maintenance fees</b>
                        </li>
                        <li>
                            <b>No minimum balance requirements</b>
                        </li>
                        <li>
                            <b>Free Online Banking and Pay Bills-</b> Track your accounts, transfer funds, pay bills and more, all from your computer using Business eBanking. A secure, encrypted internet connection protects your privacy and provides 24/7 access.
                        </li>
                        <li>
                            <b>Premium Hills Capital Business Visa® Debit Card</b> with no Annual fee.
                        </li>
                        <li>
                        <b>Free check safekeeping available</b>
                        </li>
                        <li>
                        <b>Remote Deposit Capture available</b>
                        </li>
                        <li>
                        <b>Profituity,</b>  a free check representment service that Premium Hills Capital provides for its business and nonprofit customers.
                        </li>
                        <li>
                        <b>Only $500 require to Open</b>
                        </li>
                    </ul>

                    <h4 class="text-subtitle pt-20">
                        Analyzed Business Checking
                    </h4>
                    <p class="text-about">
                        Built for larger businesses and bigger deposits, Premium Hills Capital Analyzed Business Checking includes access to Premium Hills Capital cash management
                        services such as remote deposit capture to save you time and money, plus free online banking. But what makes this business
                        account stand out is your earnings allowance. Here’s how it works:
                    </p>
                    <ol class="list-items">
                        <li>
                            Your account receives an earnings allowance based on the average 91-day Treasury Bill rate for the previous month times the average daily collected balance.
                        </li>
                        <li>
                            The earnings allowance is compared to expenses incurred by the bank in servicing the account for the month.
                        </li>
                        <li>
                            If the earnings allowance is greater than the expenses, there is no service charge.
                        </li>
                        <li>
                            If expenses exceed the earnings allowance, a service charge equal to total expenses less the earnings allowance is applied to the account as outlined in the account analysis fee schedule.
                        </li>
                    </ol>
                    <p class="text-about">
                        You can check your earnings with our free reporting tool. And if you have more than one business checking account,
                        the balances may be combined for the purposes of analysis.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}


