{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-60"></section>
    <div class="container">

         <div class="row">

            <!-- Content Column -->
            <div class="col-lg-3 col-md-3">
                {% include './personav2.html' %}
            </div>

            <!-- Skills Column -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="inner-column">
                    <div class="text-title">
                        Get the card your business needs
                    </div>    
                    <div class="text-subtitle">
                        Business credit cards
                    </div>  
            
                    <p class="text-about">
                        Business Credit Cards and purchasing cards from Premium Hills Capital are designed to meet your company’s specific requirements.
                        With the ePayables electronic payment solution, you can replace check payments with your VISA® credit card account,
                        reducing the costs and inefficiencies of manual paper payments. Combined with the latest in commercial card technology,
                        this improves working capital management, which makes reporting and account monitoring easier than ever, and helps reduce
                        the risk of fraud. Other benefits include:
                    </p>

                    
                    <div class="">
                        <ul class="list-items">
                            <li>
                                Customized Card Design – Employee and/or business name on card.
                            </li>
                            <li>
                                Manage, control and monitor business and travel related expenses, and improve cash flow management.
                            </li>
                            <li>
                                Separate business spending from personal spending.
                            </li>
                            <li>
                                Worldwide acceptance.
                            </li>
                            <li>
                                Preset Limits – Limits are established for each cardholder. Different spending limits can be assigned based on need
                            </li>
                            <li>
                                Vendor Blocking – Accounts can be coded to prevent spending at certain types of merchants.
                            </li>
                            <li>
                                Flexible Billing – Each employee can be billed individually or a master statement can be sent to management.
                            </li>
                            <li>
                                Protection from Employee Misuse – MasterCard and Visa offer liability waiver protection in the event of employee misuse, at no cost to customer.
                            </li>
                            <li>
                                Additional Core Services provided by MasterCard and Visa at no cost to you.
                            </li>
                            <li>
                                Online Access – View activity online 24/7 and make payments through our online credit card service.
                            </li>
                        </ul>
                    </div>
                  
                    <h2 class="text-subtitle">Products</h2>
                    <p class="text-about">Purchasing power, and ease of use.</p>
                 
                    <h4 class="text-subtitle">
                        Premium Hills Capital VISA ® Purchasing card
                    </h4>
                    <p class="text-about">
                        Premium Hills Capital’s VISA® Purchasing Card delivers a simpler and easier way to process your invoices for payment that will significantly reduce the time and costs associated with paying for indirect business-to-business goods and services. Features of this powerful card include:
                    </p>
                    <ul class="list-items">
                        <li>
                            Customizable solutions for each individual credit card account
                        </li>
                        <li>
                            Real-time card management and comprehensive reporting through the Visa IntelliLink Spend Management System
                        </li>
                        <li>
                            Visa Information Management supports and fulfills regulatory requirements such as IRS Form 1099 tax reporting and TIN matching
                        </li>
                        <li>
                            Revenue sharing opportunities
                        </li>
                    </ul>

                    <div>
                        <h4 class="text-subtitle pt-20">
                            Premium Hills Capital MASTERCARD® BUSINESS CARD
                        </h4>
                        <p class="text-about">
                            Premium Hills Capital’s MasterCard® Business Card provides agencies and businesses the ability to monitor, manage and control their spending.
                            The MasterCard Business Card can be tailored to meet the needs of each individual cardholder and can be great for
                            travel-related spending as most travel-related merchants pass airline and hotel data that will appear on your statement.
                        </p>
                        <ol class="black" style="; margin-left:20px;">
                            <li style="list-style: circle;font-size:14px;line-height:27px;">
                                Customizable solutions for each individual credit card account
                            </li>
                            <li style="list-style: circle;font-size:14px;line-height:27px;">
                                Pay your account and view activity online
                            </li>
                            <li style="list-style: circle;font-size:14px;line-height:27px;">
                                Flexible merchant permissions based on the individual cardholder
                            </li>
                            <li style="list-style: circle;font-size:14px;line-height:27px;">
                                No-cost liability waiver program that protects you in the event of employee misuse
                            </li>
                            <li style="list-style: circle;font-size:14px;line-height:27px;">
                                Designed for credit lines of less than $20,000
                            </li>
                        </ol>
                    </div>

                    <div>
                        <h4 class="text-subtitle">
                            <i class="flaticon-car"></i>
                            Premium Hills Capital VISA® FLEET CARD
                        </h4>
                        <p class="text-about">
                            Premium Hills Capital’s Visa® Fleet is a value-added product complement for any Visa Purchasing or Visa Corporate card program,
                            offering the payment convenience, authorization controls and management information that fleet operators need.
                        </p>
                        <ol class="list-items">
                            <li>
                                Enhanced data capture and reporting
                            </li>
                            <li>
                                Both driver and vehicle cards are available and the card holder may be prompted by merchants for driver ID, vehicle ID or odometer readings
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}


