{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-50">
    <div class="container">

         <div class="row">

            <!-- Skills Column -->
            <div class="col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text-title">
                        Grow with Sample Bank
                    </div>

                    <ul class="list-items">
                        <li>
                            <b>With strength comes growth:</b>  Sample Bank started as a one-office bank and has grown into a regional financial company with over $25 billion in assets and nearly 230 locations in VA, WV, MD, OH, PA, NC, SC, and D.C.
                        </li>
                        <li>
                            <b>A deep commitment to our communities:</b>  We are a community bank that actively looks for ways to strengthen the
                            areas in which we live and work, and we encourage our employees to be involved locally.  In fact, Sample Bank ’s employee volunteer program was recently
                            recognized as the Top U.S. Bank Employee Volunteer Program by the American Bankers Association.
                        </li>
                        <li>
                            <b>An appreciation for our people:</b> We have over 3,000 employees who exemplify our core values of hard work, teamwork, integrity and caring. We truly value our employees and firmly believe that the service they provide to our customers and communities is our competitive advantage.
                        </li>
                        <li>
                            <b>An entrepreneurial spirit:</b>  We are always growing and are a perfect fit for people who want to be challenged and make a difference.
                            From entry-level to management, we seek highly-motivated people who thrive in cultures in which they feel empowered to take the lead and create positive change.
                        </li>
                        <li>
                            <b>Diversity and inclusion:</b> Our strength is our people, and we are committed to nurturing an inclusive culture that is reflective of the communities we serve; celebrates diversity of thought, backgrounds, and experience; promotes
                            respect and a shared purpose; and aligns with our core values.
                        </li>
                    </ul>

                    <h2 class="text-subtitle pt-20">Let us help you reach your goals</h2>
                    <h4 class="text-about">Choose your path to success</h4>

                    <h4 class="text-subtitle">
                        Financial Goals
                    </h4>
                    <p class="text-about">
                        Whether you’re saving for the future or striving for peace of mind today, Sample Bank offers a number of services to help you reach your financial goals.
                        From 401(k) and employee stock purchasing plans to flex spending, financial planning, insurance and complimentary or discounted banking services, as a
                        Sample Bank employee, you’re covered.
                    </p>

                    <h4 class="text-subtitle">
                        Health goals
                    </h4>
                    <p class="text-about">
                        A healthy employee is a happy employee – from dental to vision, your medical concerns are covered.
                        We even offer an employee wellness program to keep you feeling great.
                    </p>

                    <h4 class="text-subtitle">
                        Personal goals
                    </h4>
                    <p class="text-about">
                        Everyone needs some “you” time. Sample Bank offers a generous leave policy including paid holidays and vacation time,
                        regular and extended sick leave, short-term disability, paid personal days – and even a paid day off for your birthday.
                    </p>

                    <h4 class="text-subtitle">
                        Professional goals
                    </h4>
                    <p class="text-about">
                        With Sample Bank , you don’t just have a job – you’ve got a career. We offer numerous opportunities for you to advance,
                        including internal training programs, external courses and conferences, and our Sample Bank Leadership Development Program.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}


