{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-60"></section>
    <div class="container">

        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-3 col-md-3">
                {% include './personav.html' %}
            </div>

            <!-- Skills Column -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="inner-column">
                    <div class="text-title pb-50">
                        Individual Accounts, Personal Service
                    </div>
                    <div class="text-subtitle">
                        Personal Checking
                    </div>
                    <p class="text-about">
                        With Premium Hills Capital , you get personal checking account options that work for you today, and grow with you for tomorrow.
                        Our flexible options give you the features and benefits you’re looking for, supported by outstanding customer service.
                    </p>
                   
                    <div class="text-subtitle">
                        Products 
                    </div>
                    <p class="text-about">
                        Find the right fit for you.
                    </p>

                    <div class="" style="margin-bottom: 30px;">

                        <h4 class="text-subtitle">
                            Premium Hills Capital Reward Checking
                        </h4>
                        <p class="text-about">
                            With a Premium Hills Capital Rewards Checking account, you’ll enjoy the same features as our Free Checking account, plus added benefits, such as:
                        </p>
                        <ul class="list-items">
                            <li>
                                <b>Credit Monitoring:</b> Daily monitoring of your credit report with email/ wireless alerts. In addition, receive unlimited online access.
                            </li>
                            <li>
                              <b>Shopping Rewards:</b> Access to exclusive offers, rebates and discounts at thousands of leading online retailers through our customized shopping portal. (registration and activation required)
                            </li>
                            <li>
                               <b>Entertaiment Discounts:</b> Save up to 40% on movie and theme park tickets. Get your tickets in advance and avoid waiting in line.
                            </li>
                            <li>
                               <b>Prescription Discounts:</b> Save an average of 30% on brand-name and generic prescription drugs. Our card is welcomed at approximately 40,000 pharmacies. (This is not insurance)
                            </li>
                            <li>
                               <b>$5,000 Accidental Death &amp; Dismemberment Insurance+:</b>  Enjoy a greater peace of mind with 24-hour insurance.
                            </li>
                        </ul>
                        <p class="text-about">
                            Premium Hills Capital Rewards Checking is FREE if you use your Premium Hills Capital Visa® Debit Card for 15 purchase transactions OR maintain a minimum of $500 in monthly direct deposits.
                            Otherwise, Premium Hills Capital Rewards Checking is only $10 per month ($8 with eStatements).
                        </p>
                        <p class="black" style="font-size: 12px">
                            +Insurance products are not insured by FDIC or any Federal Government Agency. Not a deposit of or guaranteed by the bank or any bank affiliate.
                        </p>
                    </div>

                    <div>
                        <h4 class="text-subtitle">
                            Platinum Checking  
                        </h4>
                        <p class="text-about">
                            If you want more out of your checking account, personal Platinum Checking delivers.
                            For customers with higher balances who enjoy earning interest, this account offers competitive
                            interest rates and next-tier rates for balances of $2,500 or more – all for FREE.
                            If your balance falls below $2,500, you will receive a $10 monthly charge ($8 with eStatements).
                        </p>

                    </div>

                    <div>
                        <h4 class="text-subtitle">
                            
                            Premium Hills Capital Free Checking
                        </h4>
                        <p class="text-about">
                            No hidden fees. No minimum balance. Premium Hills Capital Free Checking gives you the basics you need,
                            including a Premium Hills Capital VISA® Debit Card, FREE online banking with bill pay, eStatements,
                            mobile banking with check deposit along with Apple Pay, Android Pay and Samsung Pay.
                        </p>
                    </div>

                    <div>
                        <h4 class="text-subtitle">
                          Debit Card
                        </h4>
                        <p class="text-about">
                            Your Premium Hills Capital Visa® Debit Card delivers the advantage of worldwide acceptance at millions of locations that accept Visa cards for payment. No more check-writing hassles and you can still use it to manage your account at ATMs. Plus, earn cashback by using your card to get the things you already buy everyday, such as coffee, dinner with friends or a new pair of shoes.
                            <br> <br>
                            You can now tap to pay for fast, easy and secure checkouts with your contactless Premium Hills Capital Visa® Debit Card.
                        </p>
                    </div>

                    <a class="text-subtitle">Open at a Branch</a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}