{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="pt-100 pb-100"></section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="" style="padding: 20px">
                    <div class="text-contact-title">
                        Contact us
                    </div>
                    <p class="text-contact">
                       {{site.name}} is registered in England and Wales as {{site.name}} Limited (No. 09092149), 5th Floor, London Fruit And Wool Exchange, 1 Duval Square, London, E1 6PW. We are authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority under registration number 730166.
                    </p>
                    <div class="text-contact-details pt-20">
                        <a>Email Us: </a>
                    </div>
                    <div class="text-contact-details">
                        <a href="">customer@{{site.domain}}</a>
                    </div>
                    <div class="text-contact-details">
                        <a href="">{{site.email}}</a>
                    </div>
                    
                     <div class="text-contact-details pt-20">
                        <a>Headquarter</a>
                    </div>
                     <div class="text-contact-details pt-20">
                            <a target="_blank"><i class="bi bi-geo-alt"></i> 
                             Duval Square, London, E1 6PW.
</a>
                         </div>
                         <div class="text-contact-details">
                            <!--<a ><i class="fa-solid fa-phone"></i>+12262121500 </a>-->
                         </div>
                         
                         
                         
                           <div class="text-contact-details pt-20">
                        <a>Branch</a>
                    </div>
                     <div class="text-contact-details pt-20">
                            <a target="_blank"><i class="bi bi-geo-alt"></i> 66 5th Floor, London Fruit And Wool Exchange, 1 Duval Square, London, E1 6PW.
</a>
                         </div>
                         <div class="text-contact-details">
                            <!--<a ><i class="fa-solid fa-phone"></i>+15513697798-->
 <!--</a>-->
                         </div>
                         
                         
                         
                           <div class="text-contact-details pt-20">
                       
                    </div>
                     <div class="text-contact-details pt-20">
                            <a target="_blank"><i class="bi bi-geo"></i> 
                            Enquires: +442(0)34614878 
                            
                            

</a>
                         </div>
                     <div class="text-contact-details pt-20">
                            <a target="_blank"><i class="bi bi-geo"></i> 
                          Switchboard: +442(0)34614444
                            
                            

</a>
                         </div>
                         <div class="text-contact-details">
 <!--                           <a ><i class="fa-solid fa-phone"></i>+447893929173-->

 <!--</a>-->
                         </div>
                    
                    
                </div>
                
            </div>

            <div class="col-md-6">
                <div style="padding: 20px">
                    <img class="contact-img" src="https://img.freepik.com/premium-photo/happy-black-man-callcenter-with-phone-call-contact-us-communication-with-headset-crm-male-consultant-with-smile-customer-service-telemarketing-with-conversation-help-desk-employee_590464-182881.jpg?size=626&ext=jpg&ga=GA1.1.753374989.1717678999&semt=ais_hybrid" alt="{{site.name}}">
                </div>
            </div>
        </div>
        
    </div>

</section>
{% endblock content %}
