{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-60">
    <div class="container">

         <div class="row">

            <!-- Content Column -->
            <div class="col-lg-3 col-md-3">
      {% include './personav.html' %}
</div>

            <!-- Skills Column -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="inner-column">
                    <div class="text-title pb-50">
                        Offers both convenience and flexibility to fit your lifestyle
                    </div>
                    <div class="text-subtitle">
                        Premium Hills Capital Visa Platinum
                    </div>
                    <p class="text-about">
                        With a low Annual Percentage Rage, low or no annual fees and a range of rewards, Premium Hills Capital ’s VISA® Platinum is an excellent
                        choice. The Premium Hills Capital VISA® Platinum Card pays you to use it, with a 1% rebate on all purchases made within the continental Premium Hills Capital States. It also offers:
                    </p>


                    <div class="">
                        <ul class="list-items">
                            <li>
                                An introductory 5.99% Annual Percentage Rate, good for 6 months, after which your Annual Percentage Rate will be 8.25% and will vary with the market based on the prime rate.
                            </li>
                            <li>
                                No Annual Fee – A cash advance fee of $5 or 1.50%, whichever is less, applies on each cash advance. An over-the-credit limit fee of $10 or 2.00% of your credit limit, whichever is less, will apply.
                            </li>
                            <li>
                                Personal Identity Theft Coverage* – Reimbursement for up to $1,000 for costs incurred such as lost wages, costs incurred to obtain credit reports, notarization of affidavits, long distance calls, postage and certain legal fees.
                            </li>
                            <li>
                                Fraud Monitoring System*
                            </li>
                            <li>
                                Travel Accident Insurance* – Automatic enrollment in accidental death and dismemberment coverage of up to $250,000.
                            </li>
                            <li>
                                Purchase Security and Extended Protection* – Protects most purchases for the first 90 days from the date of purchase in the event of loss, theft, damage or fire.
                            </li>
                        </ul>
                        <p class="text-about">
                            Cardholder Agreement
                        </p>
                        <p class="black" style="font-size: 12px">
                            * Insurance Product
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}