{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-60"></section>
    <div class="container">

         <div class="row">

            <!-- Content Column -->
            <div class="col-lg-3 col-md-3">
                {% include './personav2.html' %}
            </div>

            <!-- Skills Column -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="inner-column">
                    <div class="text-title">
                        Capable of handling all your lending needs, from small transactions to large, complex deals
                    </div>    
                    <div class="text-subtitle">
                       Lending Services
                    </div>  
                    <p class="text-about">
                        Premium Hills Capital is the financial partner that growing businesses need. We consistently deliver fast service
                        and a full range of lending programs, building on a tradition of serving the financial needs of local
                        businesses and individuals since 1839. Lending types include:
                    </p>


                    <div class="">
                        <ul class="list-items">
                            <li>
                                <b>Commercial and Industrial:</b>  We assist with working capital needs or to finance major capital expenditures.
                            </li>
                            <li>
                                <b>Commercial Real Estate (CRE):</b>  These loans can be used to purchase or refinance an owner-occupied or income producing commercial property, or to expand or remodel an existing facility.
                            </li>
                            <li>
                                <b>Acquisition and Development:</b>  Loans for acquiring real estate to be used for residential or commercial development.
                            </li>
                            <li>
                               <b>Government Contracting:</b>  We specialize in meeting the dynamic banking needs of companies serving the federal, state and commercial markets.
                            </li>
                        </ul>
                    </div>

                    <div class="">
                        <h6 class="text-subtitle pt-20">
                            We deliver a number of lending programs, including:
                        </h6>
                        <ul class="list-items">
                            <li>
                                <b>Term Loans</b>  <br>
                                Premium Hills Capital has the ability to provide a variety of solutions to meet your financing needs.
                            </li> <br>
                            <li>
                                <b>Lines of Credit</b>  <br>
                                Providing flexibility for short-term working capital needs, and available cash when you need it, our LOCs help optimize cash flow.
                            </li> <br>
                            <li>
                                <b>Real Estate</b>  <br>
                                Providing financing for the purchase, refinance, construction, expansion, or remodel of real estate properties.
                            </li> <br>
                            <li>
                                <b>Credit Cards</b>  <br>
                                Providing convenient credit for your everyday business spending needs to better manage cash flow.
                            </li> <br>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}