<div class="m-sidebar">
    <ul class="sidebar-list">
        <a href="{% url 'savingacc' %}" class="">
            <li class="sidebar-item text-sidebar sidebar-panel">
                <span class="">
                    Savings
                </span>
                <span>
                    <i class="bi bi-chevron-down"></i>
                </span>
            </li>
        </a>
        <a href="{% url 'baccount' %}" class="">
            <li class="sidebar-item text-sidebar sidebar-panel">
                <span class="">
                    Checkings
                </span>
                <span>
                    <i class="bi bi-chevron-down"></i>
                </span>
            </li>
        </a>
        <a href="{% url 'investment' %}" class="">
            <li class="sidebar-item text-sidebar sidebar-panel">
                <span class="">
                    Investments
                </span>
                <span>
                    <i class="bi bi-chevron-down"></i>
                </span>
            </li>
        </a>
        <a href="{% url 'bchecking' %}" class="">
            <li class="sidebar-item text-sidebar sidebar-panel">
                <span class="">
                    Credit Cards
                </span>
                <span>
                    <i class="bi bi-chevron-down"></i>
                </span>
            </li>
        </a>
        
    </ul>
</div>           
