{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-50">
    <div class="container">

        <div class="row">

            <div class="skills-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text-title">
                        Knowledge to keep you protected
                    </div>    
                    <div class="text-subtitle">
                       Privacy &amp; Security
                    </div>  
                    <p class="text-about">
                        Sample Bank is committed to protecting your accounts from cyberattacks and identity theft.
                        The products and services we offer come with tools and resources to help keep you and your accounts safe.
                        However, in some cases that may not be enough. We rely on you to take all necessary steps to ensure your
                        accounts are protected on your end, as well. Check out the security information below for tips on how to
                        stay safe online.

                    </p>
                    <p class="text-about">
                        Sample Bank is committed to protecting the privacy of our clients’ personal information.
                        Please read our Privacy Policy for details regarding how we collect, share, and protect your personal information.
                    </p>

                    <h4 class="text-subtitle">Fraud Alert</h4>
                    <h6 class="text-subtitle">08.24.18</h6>
                    <p class="text-about">
                        We are aware of the recent notifications from law enforcement regarding the threat of a cyberattack potentially targeting
                        ATM devices nationwide. Sample Bank follows the FBI’s recommendations to protect against these potential threats.
                        In addition, we continuously assess our security protocols and work closely with our service partners to defend against
                        such attacks in an everchanging technology landscape.
                    </p>
                    <p class="text-about">
                        Customers are never responsible for any losses incurred due to unauthorized ATM activity that they report to their
                        financial institution in a timely manner. As a best practice, we encourage all customers to review account activity
                        regularly through Sample Bank online banking.
                    </p>
                    <p class="text-about">
                        Please notify the bank immediately if you identify any unfamiliar activity. You can also sign up for mobile alerts through
                        Sample Bank Online Banking.  If you would like more information on setting up alerts, please contact us.
                    </p>

                    <div class="">
                        <h4 class="text-subtitle">Protecting Yourself Against Identity Theft</h4>
                        <p class="text-about">Set up strong password</p>
                        
                        <ul class="dis">
                            <li>
                                Choose combinations of upper- and lower-case letters, numbers and symbols that are hard for a hacker to guess.
                            </li>
                            <li>
                                Do not use your birthdate, address or names a hacker may easily guess.
                            </li>
                            <li>
                                Do not use the same password for multiple accounts; if you do, once a hacker guesses your password correctly, he or she will have access to all your accounts.
                            </li>
                        </ul>
                    </div>

                    <div class="tex">
                        <p class="text-about">Monitor your bank account transactions</p>
                        <ul class="dis">
                            <li>
                                Check accounts for fraudulent activity at least once or twice a week. Federal laws and industry practices protect account holders when criminals make unauthorized purchases using stolen payment card numbers or other information in certain situations.
                            </li>
                        </ul>
                    </div>

                    <div class="tex">
                        <p class="text-about">Use a designated mobile device or computer for online banking and shopping</p>
                        <ul class="dis">
                            <li>
                                Some individuals purchase an old PC or designate one device for online banking and shopping. Devices are less vulnerable to cyberattacks when they are not used for web surfing, emailing, social media or playing games.
                            </li>
                        </ul>
                    </div>

                    <div class="tex">
                        <p class="text-about">Effectively use anti-virus and security software</p>
                        <ul class="dis">
                            <li>
                                It is important to install and constantly update anti-virus and security software. This includes basic anti-virus programs, as well as
                                program updates. Manufacturers are consistently updating their products and services so they operate as efficiently as possible and
                                incorporate the most up-to-date security technology. Next time a program, even as basic as Word, offers an update download it.
                                Please note, you shouldn’t accept updates as they pop up on your computer, because those can be malware or viruses.
                                Instead, you should go directly to the software website, find the appropriate update and download directly from the site.
                            </li>
                        </ul>
                    </div>

                    <div class="text">
                        <p class="text-about">Be cautious when connecting to the Internet</p>
                        <ul class="dis">
                            <li>
                                A public computer in places like a hotel business center or library may not have up-to-date security software and could be
                                infected with malware.  In addition, if you are using a laptop or mobile device for online banking or shopping,
                                avoid connecting it to a public wireless network.  Criminals may intercept your device's signal and use it to collect
                                personal information.
                            </li>
                        </ul>
                    </div>

                    <div class="text">
                        <h4 class="text-subtitle pt-20">Protecting Your Business Against Email Compromises</h4>
                        <p class="text-about">
                            The FBI calls it Business Email Compromise and defines BEC as “a sophisticated scam targeting businesses working with
                            foreign suppliers and/or businesses that regularly perform wire transfer payments. The scam is carried out by compromising
                            legitimate business email accounts through social engineering or computer intrusion techniques to conduct unauthorized
                            transfers of funds.” If your business conducts any transaction via wire, you and your company could be at risk.
                        </p>
                        <p class="text-about">
                            From January 2015 to June 2016, the FBI reported a 1,300% rise in identified exposed losses. Most of the losses were reported
                            in the Sample Bank States and fraudulently -transferred funds typically ended up in China and Hong Kong. Unless fraudulent activity
                            is discovered and reported within 24 hours, the chances of recovery are low. Only 4% of funds are ever retrieved.
                        </p>
                        <p class="text-about">
                            Per research found by The Verizon 2016 Data Breach Investigations Report, employees and human error are the weakest link in
                            any “IT system.” We recommend educating and training employees on all forms of cyberattacks, as well as asking them to use
                            caution when sharing personal information on social media sites. We recommend educating all employees; however, human resources
                            professionals, IT managers, C-level and senior executives and anyone with finance approval are more likely to be on the receiving
                            end of attacks.
                        </p>
                        <p class="text-about">
                            Those involved in large wire transfers are especially susceptible. Many companies have very lax policies when it comes to initiating
                            a transfer. For some, the process is as simple as the CEO picking up the phone and requesting the movement of funds.
                            Cybercriminals fish for information by sending emails to targets to glean information. Once successful, they pose as a
                            familiar person and initiate the transfer. If multi-level safeguards are not in place, you may fall victim.
                        </p>
                        <p class="text-about">
                            Human resources professionals are also top targets. Typically, they have access to the employee database,
                            which includes sensitive information such as social security numbers and personal information. In addition, they receive resumes
                            from potential applicants. Criminals may include spyware inside a resume or its delivery source, compromising the system.
                        </p>
                    </div>

                    <div class="text">
                        <h4 class="text-subtitle">What Can You Do to Protect Yourself and Your Business?</h4>
                        <h5 class="text-subtitle">Know and guard yourself against the common methods of attack, including:</h5>
                        <p class="text-about">Phishing</p>
                        <ul class="dis">
                            <li>
                                Phishing emails are sent to many contacts simultaneously to “fish” sensitive information; hackers pose as reputable sources, such as banks,
                                credit card providers, delivery firms, law enforcement and the IRS, to name a few.
                            </li>
                        </ul> <br>

                        <p class="text-about">Spear Phishing</p>
                        <ul class="dis">
                            <li>
                                A more targeted form of phishing, the cybercriminal has either studied up on the group or has gleaned data from social media
                                sites to con users. The email generally goes to one person or a small group of people who use that bank or service.
                                Some form of personalization is included – perhaps the person’s name or the name of a client.
                            </li>
                        </ul> <br>

                        <p class="text-about">Executive Whaling</p>
                        <ul class="dis">
                            <li>
                                Targeting top executives and administrators, criminals attempt to pull money from accounts or steal confidential data.
                                Detailed, personal information about the executive and the business has been obtained prior to execution of this method.
                            </li>
                        </ul> <br>

                        <p class="text-about">Social Engineering</p>
                        <ul class="dis">
                            <li>
                                The three previous techniques fall under the broader category of social engineering. Social engineering in this
                                application is the manipulation of people to trick them into divulging confidential information or providing access to funds.
                                The art of social engineering might include mining information from social media sites. LinkedIn, Facebook and other venues
                                provide a wealth of information about organizational personnel. This can include their contact information, connections, friends,
                                ongoing business deals and more.
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}


