{% extends "./base.html" %}


{% load static %}
{% block content %}
<section class="section pt-50 pb-60"></section>
    <div class="container">

         <div class="row">

            <!-- Content Column -->
            <div class="col-lg-3 col-md-3">
                {% include './personav.html' %}
            </div>

            <!-- Skills Column -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="inner-column">
                    <div class="text-title pb-50">
                        Earn more for your business
                    </div>
                    <div class="text-subtitle">
                        Savings
                    </div>
                    <p class="text-about">
                        Built for convenience and supported by superior customer service, Premium Hills Capital Business Savings accounts offer competitive features
                        to meet the needs of your business today – and the flexibility to grow with it tomorrow.
                    </p>

                    <h2 class="text-subtitle">Products</h2>
                    <p class="text-about">Savings made simple for your business</p>

                    <h4 class="text-subtitle">
                        Platinum Savings Account
                    </h4>
                    <p class="text-about">
                        Starting with a minimum opening deposit of $50, Platinum Savings pays competitive rates while offering
                        flexibility and easy access to your funds. Best of all, there’s no minimum balance requirement, and no monthly maintenance fee.
                    </p>
                    <h5 class="text-subtitle">Account Details</h5>
                    <ul class="list-items">
                        <li>Minimum Opening Deposit: $50</li>
                        <li>Minimum Balance Requirement: None</li>
                        <li>There is a $5 excessive withdrawal fee for each withdrawal in excess of 6 per month per item*</li>
                        <li>Competitively Tiered Rate Structure</li>
                        <li>Optional ATM Card</li>
                    </ul>
                    <p class="text-about">
                        *Limited items include transfers by telephone, computer, ACH, wire transfer, or any pre authorized or automatic transfers.
                    </p>


                    <div>
                        <h4 class="text-subtitle">
                            Super Money Market
                        </h4>
                        <p class="text-about">
                            Our Super Money Market Account offers the liquidity to access your funds easily, competitive tiered rates, a convenient Premium Hills Capital
                            check card, and free online banking. With unlimited deposits, up to six monthly withdrawals (phone/computer/ACH/transfer),
                            and unlimited withdrawals or transfers in person, our Super Money Market gives you the flexibility to keep pace with your business.
                        </p>
                        <h6 class="text-subtitle">Account Details</h6>
                        <ul class="list-items">
                            <li>Minimum Opening Deposit: $15,000</li>
                            <li>Minimum Balance Requirement: $15,000 Daily Ledger Balance</li>
                            <li>$10 monthly fee if balance falls below required minimum</li>
                            <li>$15 excessive withdrawal fee (for each withdrawal in excess of 6 per statement cycle)*</li>
                            <li>Competitively tiered rate structure*</li>
                            <li>Up to six monthly withdrawals</li>
                            <li>Unlimited Deposits</li>
                        </ul>
                        <p class="text-about" style="font-size: 12px">
                            *Limited items include transfers by telephone, computer, ACH, wire transfer, or any pre authorized or automatic transfers.
                        </p>
                    </div>

                    <h4 class="text-subtitle">
                        Certificate Deposit(CD)
                    </h4>
                    <p class="text-about">
                        One of our easiest ways to save toward your financial goals, Certificates of Deposit are available in a wide variety of maturities
                        ranging from 1 month to 5 years, and earn interest based on market rates. Accrued interest may be paid quarterly, semi-annually,
                        annually or at maturity, and can be automatically credited to your Premium Hills Capital account or delivered to you.
                    </p>

                    <h4 class="text-subtitle">
                        CDARS
                    </h4>
                    <p class="text-about">
                        For our business clients exceeding traditional FDIC insurance limits, we offer our Certificate of Deposit Account Registry Service (CDARS® ).
                        CDARS is a safe, convenient service through which we place your large CD deposits into smaller-denomination CDs at multiple institutions.
                        Your total deposit can be eligible for full FDIC insurance coverage up to $50 million or more. You can manage all of your CD investments
                        through Premium Hills Capital and a monthly consolidated statement is provided detailing the issuing banks, maturity dates, interest rate, and interest earned year-to-date.
                    </p>

                    <a class="text-subtitle&quot;">Open at a Branch</a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}