{% extends "./base.html" %}
{% load static %}
{% block conrent %} 

<div class="content-w">
    <!--------------------
            START - Breadcrumbs
            -------------------->
    <ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="https://www.premiumhillscapital.com/member_dashboard/index.php">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="https://www.premiumhillscapital.com/member_dashboard/local.php#">Transfer</a>
    </li>
    <li class="breadcrumb-item">
        <span></span>
    </li>
    </ul>
    <!--------------------
END - Breadcrumbs
-------------------->
    <div class="content-i">
    <div class="content-box">
        <div class="row">
        <div class="col-lg-8">
            <div class="element-wrapper">
            <h6 class="element-header">Transfer</h6>
            <div class="element-box">
                <form id="transferForm" method="post">
                    <div class="row" id="showerer">
                    {% csrf_token %}
                        <div class="col-xs-12 col-sm-12 col-lg-12 text-center" id="answer" style="margin-top: 10px;">



                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
                            <h5 class="form-header">Local Transfer</h5>
                            <div class="form-desc"></div>
                            <div class="form-group m-t-30"></div>
                            <div class="form-group">
                            <label for=""> Account Name</label>
                            <input required class="form-control" placeholder="Beneficiary Account Name" type="text" id="r_name" name="accname" value="">
                            </div>
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                <label for=""> Account Number</label>
                                <input required class="form-control" placeholder="Beneficiary Account Number" type="text" id="acct_no" name="accnum" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                <label for="">Bank Name</label>
                                <input required class="form-control" placeholder="Beneficiary Bank Name" type="text" name="bankname" id="bank_name" value="">
                                </div>
                            </div>
                            </div>
                            <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="">Sender Account</label>
									<select class="form-control" id="sender_aknt" name="sender_aknt" aria-describedby="basic-addon1">
									    <option value="1">{{user.preferred_currency}} {{user.balance}}</option>
									</select>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="">Amount</label>
									<input type="text" class="form-control" max="{{user.balance}}" id="amount" name="amount" value="" required="" aria-describedby="basic-addon1">
                                    <p style="
                                        font-size: 12px !important;
                                        color: #7e7e7e !important;
                                    ">
                                    Do not include special characters like commas
                                    (,) and full stops (.) while inputting amount.
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                <label for="">Description</label>
                                <textarea class="form-control" rows="5" name="dis" id="desc"></textarea>
                                </div>
                            </div>
                            </fieldset>
                            <div class="form-buttons-w">
                            <button class="btn btn-primary" type="submit" >
                                Transfer
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock conrent %} 