{% extends "./base.html" %}
{% load static %}
{% block conrent %} 

<div class="content-w">
    <!--------------------
            START - Breadcrumbs
            -------------------->
    <ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard' user.uuid %}">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Change Password</a>
    </li>
    <li class="breadcrumb-item">
        <span></span>
    </li>
    </ul>
    <!--------------------
END - Breadcrumbs
-------------------->
    <div class="content-i">
    <div class="content-box">
        <div class="row">
        <div class="col-lg-8">
            <div class="element-wrapper">
            <h6 class="element-header">Change Password</h6>
            <div class="element-box">
                <form id="transferForm" method="post"> 
                    {% csrf_token %}
                <div class="row" id="showerer">
                    <div class="col-xs-12 col-sm-12 col-lg-12 text-center" id="answer" style="margin-top: 10px;">



                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
                        <h5 class="form-header">Change Password</h5>
                        <div class="form-desc"></div>
                        <div class="form-group m-t-30"></div>
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
                                <div class="form-group">
                                <label for="">Current Password</label>
                                    <input type="password" class="form-control" name="currentp" id="pass_old" required="" aria-describedby="basic-addon1">
                                </div>

                                <div class="row" style=" position:absolute;">
                                    <div hidden="hidden" style="color:red; background-color: white; z-index: 1000;" class="col-xs-12 col-sm-12 col-lg-12" id="bank_r">

                                    </div>
                                </div>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
                                <div class="form-group">
                                <label for="">New Password</label>
                                    <input type="password" class="form-control" name="password" id="password" required="" aria-describedby="basic-addon1">
                                </div>

                                <div class="row" style=" position:absolute;">
                                    <div hidden="hidden" style="color:red; background-color: white; z-index: 1000;" class="col-xs-12 col-sm-12 col-lg-12" id="pass_error">

                                    </div>
                                </div>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
                                <div class="form-group">
                                <label for="">Repeat New Password</label>
                                    <input type="password" class="form-control" name="new" id="password2" required="" aria-describedby="basic-addon1">
                                </div>

                                <div class="row" style=" position:absolute;">
                                    <div hidden="hidden" style="color:red; background-color: white; z-index: 1000;" class="col-xs-12 col-sm-12 col-lg-12" id="con_pass_error">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-buttons-w">
                        <button class="btn btn-primary" type="submit"  >
                            Submit
                        </button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock conrent %} 