{% extends "./base.html" %}
{% load static %}
{% block conrent %} 
<div class="content-i">
    <div class="content-box">
        <div class="row">
        <div class="col-sm-5">
            <div class="user-profile compact">
            <div class="up-head-w" style="
                background-image: url({{user.photo}});
                ">
                <div class="up-main-info">
                <h2 class="up-header">{{user.username}}</h2>
                <h6 class="up-sub-header">{{user.user.first_name}}</h6>
                </div>
                <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                    <path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path>
                </g>
                </svg>
            </div>
            <div class="up-controls">
                <div class="row">
                <div class="col-sm-6">
                    <div class="value-pair">
                    <div class="label">Status:</div>
                    <div class="value badge badge-pill badge-success">
                        Active
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <span style="font-size: 12px">Account no:</span>
                    <a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="os-icon os-icon-link-3"></i><span>{{user.accountnum}}</span></a>
                </div>
                </div>
            </div>
            <div class="padded">
                <div class="os-progress-bar primary">
                    <div class="bar-labels">
                    <div class="bar-label-left">
                        <span>Profile Completion</span><span class="positive">+10</span>
                    </div>
                    <div class="bar-label-right">
                        <span class="info">100/100</span>
                    </div>
                    </div>
                    <div class="bar-level-1" style="width: 100%">
                    <div class="bar-level-2" style="width: 100%">
                        <div class="bar-level-3" style="width: 90%"></div>
                    </div>
                    </div>
                </div>
                <div class="os-progress-bar primary">
                    <div class="bar-labels">
                    <div class="bar-label-left">
                        <span>Account Security</span><span class="positive">+5</span>
                    </div>
                    <div class="bar-label-right">
                        <span class="info">100/100</span>
                    </div>
                    </div>
                    <div class="bar-level-1" style="width: 100%">
                    <div class="bar-level-2" style="width: 100%">
                        <div class="bar-level-3" style="width: 95%"></div>
                    </div>
                    </div>
                </div>
                <div class="os-progress-bar primary">
                    <div class="bar-labels">
                    <div class="bar-label-left">
                        <span>Verification</span><span class="negative"></span>
                    </div>
                    <div class="bar-label-right">
                        <span class="info">90/100</span>
                    </div>
                    </div>
                    <div class="bar-level-1" style="width: 100%">
                    <div class="bar-level-2" style="width: 90%">
                        <div class="bar-level-3" style="width: 90%"></div>
                    </div>
                    </div>
                    <div style="margin: 25px 0 20px">
                    <a class="btn btn-primary btn-sm" href="{% url 'passwordchange' user.uuid %}"><i class="os-icon os-icon-lock"></i><span>Change Password</span></a>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7" style="display: flex; width: 100%; flex: 1;flex-grow: 1;">
            <div class="element-wrapper" style="display: flex; width: 100%; flex: 1;flex-grow: 1;">
            <div class="element-box">
                <form id="formValidate" novalidate="true">
                <div class="element-info">
                    <div class="element-info-with-icon">
                    <div class="element-info-icon">
                        <div class="os-icon os-icon-wallet-loaded"></div>
                    </div>
                    <div class="element-info-text">
                        <h5 class="element-inner-header">
                        Profile Information
                        </h5>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""> Email address</label><input class="form-control" data-error="Your email address is invalid" value="{{user.user.email}}" disabled="" id="email" required="required" type="email">
                    <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>
                <div class="form-group">
                    <label for=""> Username</label><input class="form-control" data-error="Your username address is invalid" value="{{user.username}}" disabled="" id="username" required="required" type="text">
                    <div class="help-block form-text with-errors form-control-feedback"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Full Name</label><input class="form-control" value="{{user.user.first_name}}" disabled="" required="required" type="text">
                    </div>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                        <label for=""> City</label><input class="form-control" data-error="Please input your city" placeholder="City" id="address" name="address" value="{{user.city}}" disabled="" required="required" type="text">
                        <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                    </div>
                     <div class="col-sm-12">
                        <div class="form-group">
                        <label for=""> State</label><input class="form-control" data-error="Please input your state" placeholder="State" id="state" name="state" value="{{user.state}}" disabled="" required="required" type="text">
                        <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="">Mobile Number</label><input class="form-control" data-minlength="6" value="{{user.phone}}" disabled="" id="phone" required="required" type="text">
                        <div class="help-block form-text text-muted form-control-feedback"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="">Zip Code</label><input class="form-control" data-match-error="Zip Code" value="{{user.zipcode}}" disabled="" id="zip" name="zip" required="required" type="text">
                        <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                    </div>
                    </div>
                </fieldset>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock conrent %} 